html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  background-color: #000000;
  color: white;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.infinite-color {
  animation-name: colorchange;
  animation-duration: 50s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.get-started {
  background: linear-gradient(93deg, rgb(232, 79, 79), #ffd48b);
  background-size: 400% 400%;

  animation: AnimationName 0s ease infinite;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  border-radius: 7px;
  padding: 0.7em 1.4em;
  line-height: 1.5em;
  text-decoration: none;
  font-weight: 600;
}
.get-started:hover {
  transform: scale(1.1);
}

@keyframes colorchange {
  0% {
    color: rgb(125, 201, 222);
  }

  10% {
    color: #8e44ad;
  }

  20% {
    color: #1abc9c;
  }

  30% {
    color: #d35400;
  }

  40% {
    color: rgb(223, 128, 185);
  }

  50% {
    color: #34495e;
  }

  60% {
    color: rgb(94, 202, 163);
  }

  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }

  90% {
    color: #2980b9;
  }

  100% {
    color: pink;
  }
}
